# ignore all .pdf file
studentControllerInterface_LQR_observer.m
studentControllerInterface_LQR_velocityPrediction.m
studentControllerInterface_OG.m
studentControllerInterface_OG2.m
*.pdf
test_01.txt
*.slxc
slprj/
simulink_experiment_debug_type1_quarc_win64/
*.rt-win64